<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<div class="login-wrapper">
    <div class="particles-wrapper"><div id="particles-js"></div></div>
    <div class="wrapper col-xs-12 col-md-3">
        <div class="logo col-xs-12">CODE<span class="text-green">GARDEN</span></div>
        <p class="error"></p>
        <form [formGroup]="loginForm" #f="ngForm" (ngSubmit)="login()" class="login-form" id="login" >
            <input type="email" id="email" placeholder="Email" formControlName="email">
            <span class="error text-center" *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">User Doesn't exist </span>
            <input type="password" id="password" placeholder="Password" formControlName="password">
            <span class="error text-center" *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched"></span>
        </form>
        <button type="submit" form="login" class="card add login" (click)="login()" value="Submit">Submit</button>
        <p>If you do not have an account you can sign up <a href="/signup">here</a>.</p>
    </div>
  </div>
