<div *ngIf="ready">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<header class="main container">
    <div class="logo col-xs-12 col-sm-2 col-md-2">CODE<span class="text-green">GARDEN</span></div>
    <nav class="col-xs-12 col-sm-10 col-md-10">
        <div class="dropdown">
            <div class="parent"><a href="#" style="color: white;"><i class="fa fa-user-circle text-green" aria-hidden="true"></i><span style="display:inline" class="text-green" *ngIf="user"> {{ user.username }} </span><i class="fa fa-chevron-down" style="font-size: .75em; color: #222222 !important;" aria-hidden="true"></i></a></div>
            <div class="children" [style.right]="user ? '56px' : null">
                <a type="submit" *ngIf="!user" [routerLink]="['/login']">Login</a>
                <a *ngIf="user"[routerLink]="['/dashboard']">Dashboard</a>
                <a *ngIf="user" [routerLink]="['/logout']">Logout</a>
                <a *ngIf="!user" [routerLink]="['/signup']">Signup</a>
            </div>
        </div>
        <a href="/courses">Courses</a>
        <a href="#">Learn</a>
    </nav>
</header>
  <router-outlet></router-outlet>
<footer class="page-footer">

    <div class="footer-top container">

        <div class="footer-box padding col-xs-12 col-sm-4">
            <div class="logo-container">
                <h1 class="logo">CODEGARDEN</h1>
            </div>
        </div>

        <div class="footer-box padding col-xs-12 col-sm-4 hidden-xs">
            <div class="link-parent">
                <h1 class="title">Title</h1>
            </div>
        </div>

        <div class="footer-box padding col-xs-12 col-sm-4 hidden-xs">
            <div class="link-parent">
                <h1 class="title">Title</h1>
            </div>
        </div>

    </div>

    <div class="footer-bottom">

    </div>
</footer>
</div>
<div *ngIf="!ready" class="login-wrapper" style="height: 100vh;width: 100vw;padding: none; margin: none;">
    <div class="loading-wrapper signup col-xs-12 col-md-3">
        <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
           <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
    </div>
    <div class="particles-wrapper"><div id="particles-js"></div></div>
</div>
