<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<div class="login-wrapper">
    <div class="particles-wrapper"><div id="particles-js"></div></div>
    <div class="wrapper col-xs-12 col-md-3">
        <div class="logo col-xs-12">CODE<span class="text-green">GARDEN</span></div>
        <p style="margin-top: 4em">Enter your account email.</p>
        <p class="error" *ngIf="error">{{ error }}</p>
        <form [formGroup]="resetForm" #f="ngForm" (ngSubmit)="login()" class="login-form" id="login" >
            <input type="email" id="email" placeholder="Email" formControlName="email" (input)="checkUserExists()">
            <span class="error text-center" *ngIf="resetForm.get('email').invalid && resetForm.get('email').touched">Must be a valid email</span>
        </form>
        <button class="card add login" (click)="sendEmail()" [disabled]="resetForm.invalid" type="button" *ngIf="!sent">Send Email</button>
        <p *ngIf="sent">Check your email!</p>
    </div>
  </div>
