<!-- <template name="Signup"> -->
    <div class="login-wrapper">
        <div class="particles-wrapper"><div id="particles-js"></div></div>
        <div class="wrapper signup col-xs-12 col-md-3">
            <div class="logo col-xs-12">CODE<span class="text-green">GARDEN</span></div>
            <p class="error"></p>
            <form [formGroup]='signupForm' #f="ngForm" (ngSubmit)="signup()" class="signup-form" id="signup" >
                <input type="email" id="email" placeholder="Email" formControlName="email">
                <input type="text" id="name" placeholder="Name" formControlName="name">
                <input type="text" id="username"  placeholder="Username" formControlName="username">
                <input type="password" id="password" placeholder="Password" formControlName="password">
                <span class="error text-center" *ngIf="signupForm.get('password').invalid && signupForm.get('password').touched">Password is {{signupForm.value.Error}}</span>
                <input type="password" id="password-confirm" placeholder="Confirm Password" formControlName="confirm">
                <!-- <span class="error text-center" *ngIf="signupForm.get('confirm').errors?.required && signupForm.get('confirm').touched">Confirm passwords is required</span> -->
                <span class="error text-center" *ngIf="signupForm.get('confirm').invalid && signupForm.get('confirm').touched">Passwords do not much</span>
            </form>
            <!-- <div class="col-xs-12 col-md-3 col-md-offset-1" style="color: white;"></div>
            <p style="color: white;padding: none; margin: none; font-size: 1px; color: white;">.</p>
            <p class="error text-center" *ngIf="password.invalid && password.touched">
                Full description must be longer than 20 characters
            </p>
            <p class="error text-center" *ngIf="password-confirm.invalid && password-confirm.touched">
                Short description must be longer than 10 characters
            </p> -->


            <button type="submit" form="login" class="card add login" (click)="signup()" value="Submit">Submit</button>
            <p>If you already have an account you can login <a href="/login"> here</a>.</p>
        </div>
        <p>{{signupForm.value | json}}<p>
    </div>
<!-- </template> -->
