    <!-- {{> HeroMain title="Dashboard" }} -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <div class="container">
        <h3 class="text-center">Last working on:</h3>
        <div class="resume-master-wrapper">
            <a href="#" class="resume-link">
                <div class="resume-wrapper card">
                    <div class="icon"><i class="fa fa-book fa-3x" fa aria-hidden="true"></i></div>
                    <div class="info">
                        <h4>Intro to Java</h4>
                        <h5>95% Complete</h5>
                        <button class="resume"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
                    </div>
                </div>
            </a>
        </div>
        <!-- {{this.user  | json}} -->
        <div class="title-wrapper">
            <h4>Recent Courses {{user}}</h4>
        </div>
        <div class="title-wrapper">
            <h4>My Enrolled Courses</h4>
        </div>
        <div class="title-wrapper">
            <h4>My Taught Classes</h4>
        </div>
    </div>
