<main-hero title="Functions" subtitle="Intro to Javascript"></main-hero>
<div class="lesson-body container">
    <div class="lessons-nav-wrapper card">
        <div class="lessons-nav">
            <a href="#" style="margin-bottom: .25em;margin-left: 0"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back to Course</a>
            <a href="#" class="completed"><i class="fa fa-check" aria-hidden="true"></i>Jimbo's sexy memes</a>
            <a href="#" class="current"><i class="fa fa-bookmark" aria-hidden="true"></i>Lesson 2</a>
            <a href="#" class="locked"><i class="fa fa-lock" aria-hidden="true"></i>Lesson 3</a>
            <div class="event" onclick="this.parentElement.parentElement.className += ' active'"><div class="diamond"></div><i class="fa fa-book" aria-hidden="true"></i></div>
        </div>
    </div>
    <div class="prev-next-container">
        <a class="left"><i class="fa fa-chevron-left" aria-hidden="true"></i> Prev. Lesson</a>
        <a class="right">Next Lesson <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>

    <div class="section">
        <h3 class="subtitle">What is a Function?</h3>
        <p>A function is simply just a process.  You can easily define a function by declaring the type of return value, followed by the name, then parentheses () containing the parameters, and curly brackets containing the content of the function.  In the code below, crate a function named noot.</p>
        <div class="code-box card">
            <div class="code-container col-xs-12 col-md-8">
                <div id="editor" class="code">var noot;</div>
                <button class="run">RUN</button>
                <!--<div class="alert success">Correct, good job!<span id="close">&#215;</span></div>-->
                <!--<div class="alert failed">Sorry, something didn't work.<span id="close">&#215;</span></div>-->
            </div>
            <div class="tasks-container col-xs-12 col-md-4">
                <h5>Tasks:</h5>
                <ul>
                    <li>Define a function named noot that will not return a value</li>
                </ul>
            </div>
        </div>
    </div>

</div>
