<main-hero title="{{title}}" subtitle="{{course}}"></main-hero>
<div class="lesson-body container">
    <div class="lessons-nav-wrapper card">
        <div class="lessons-nav">
            <a href="#" style="margin-bottom: .25em;margin-left: 0"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back to Course</a>
            <a href="#" class="completed"><i class="fa fa-check" aria-hidden="true"></i>Jimbo's sexy memes</a>
            <a href="#" class="current"><i class="fa fa-bookmark" aria-hidden="true"></i>Lesson 2</a>
            <a href="#" class="locked"><i class="fa fa-lock" aria-hidden="true"></i>Lesson 3</a>
            <div class="event" onclick="this.parentElement.parentElement.className += ' active'"><div class="diamond"></div><i class="fa fa-book" aria-hidden="true"></i></div>
        </div>
    </div>
    <div class="prev-next-container">
        <a class="left"><i class="fa fa-chevron-left" aria-hidden="true"></i> Prev. Lesson</a>
        <a class="right">Next Lesson <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>

    <lesson-section *ngFor="let s of sectionObjs" [sectionObj]="s"></lesson-section>

</div>
