<main-hero title="{{title}}" subtitle="{{course}}"></main-hero>
<div class="lesson-body container">
    <div class="lessons-nav-wrapper card" [class.active]="toggleNav">
        <div class="lessons-nav">
            <a [routerLink]="['../..']" style="margin-bottom: .25em;margin-left: 0"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back to Course</a>
            <a *ngFor="let l of linkObjs" [routerLink]="[l.seqNum]" class="{{l.class}}"><i class="fa {{l.icon}}" aria-hidden="true"></i>{{l.sectionTitle}}</a>
            <!-- <a [routerLink]="#" class="current"><i class="fa fa-bookmark" aria-hidden="true"></i>Lesson 2</a> -->
            <!-- <a [routerLink]="#" class="locked"><i class="fa fa-lock" aria-hidden="true"></i>Lesson 3</a> -->
            <div class="event" (click)="this.toggleNav=!this.toggleNav"><div class="diamond"></div><i class="fa fa-book" aria-hidden="true"></i></div>
        </div>
    </div>
    <div class="prev-next-container">
        <a class="left" *ngIf="prevLessonLink" [routerLink]="[prevLessonLink]"><i class="fa fa-chevron-left" aria-hidden="true"></i> Prev. Lesson</a>
        <a class="right" *ngIf="nextLessonLink" [routerLink]="[nextLessonLink]">Next Lesson <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
    </div>

    <div class="text-center"><button class="edit"><a [routerLink]="['edit']"><i class="fas fa fa-edit"></i>EDIT</a></button></div>

    <lesson-section *ngFor="let s of sectionObjs; index as i" [sectionObj]="s" [progressObj]="progressObjs[i]" id="{{ s.seqNum }}"></lesson-section>

</div>
