<form class="lesson-form" id="lesson">
<div class="page-hero">
    <div class="particles-wrapper"><div id="particles-js"></div></div>
    <div class="wrapper">
        <div class="border">
            <p class="hero-subtitle">{{ course_title }}</p>
            <input [formControl]="title" class="hero-title" placeholder="LESSON TITLE*">
        </div>
    </div>
</div>
<div class="lesson-body container">
        <p class="error text-center"></p>

    <div class="section edit card" *ngFor="let s of sectionGroups">
        <form [formGroup]="s">
        <input formControlName="title" id="title" class="subtitle lesson-title" placeholder="Section title*">
        <!-- <textarea formControlName="content" class="lesson-content" placeholder="Section content*" id="content"></textarea> -->
        <quill-editor (onTextChange)="contentChange($event, s)" (click)="quillClick(s)"></quill-editor>
        <!-- <textarea formControlName="expressions" id="expressions" placeholder="Desired Expressions seperated with a semicolon (ex. var name;function noot() {;)" class="col-xs-12 col-md-4 lesson-expressions"></textarea> -->
        <!-- <textarea formControlName="outputs" id="outputs" placeholder="Desired Console Outputs seperated with a semicolon (ex. 3;4;5)" class="col-xs-12 col-md-3 col-md-offset-1 lesson-outputs"></textarea> -->

        <div class="col-xs-12 col-md-4 code-wrapper">
            <p class="code-label">Starter code</p>
            <div ace-editor id="editor" class="code"
            style="overflow: auto;"
            [mode]="'javascript'"
            [theme]="'monokai'"
            [options]="options"
            [(text)]="s.starterCode"
            (click)="test(s.starterCode)"
            ></div>
        </div>

        <div class="col-xs-12 col-md-4 code-wrapper">
            <p class="code-label">Outputs</p>
            <div ace-editor id="editor" class="code"
            style="overflow: auto;"
            [mode]="'javascript'"
            [theme]="'monokai'"
            [options]="options"
            [(text)]="s.outputs"
            (click)="test(s.outputs)"
            ></div>
        </div>
        <div class="col-xs-12 col-md-4 code-wrapper">
            <p class="code-label">Tasks</p>
            <textarea formControlName="tasks" id="tasks" placeholder="Tasks seperated with a semicolon (ex. Define a variable named name;)"></textarea>
        </div>
        <p style="color: white;padding: none; margin: none; font-size: 1px; color: white;">.</p>

        <p class="error text-center" *ngIf="s.get('title').invalid && s.get('title').touched">
            Section title must be longer than 3 characters
        </p>
        <p class="error text-center" *ngIf="s.get('content').invalid && s.get('content').touched">
            Content must be longer than that
        </p>
        <p class="error text-center" *ngIf="s.get('tasks').invalid && s.get('tasks').touched">
            Must have a task to accomplish
        </p>

        </form>
        <button class='remove' *ngIf="s.close" (click)="removeSection($event, s.index)"><i class='fa fa-times' aria-hidden='true'></i></button>
    </div>

    <p class="error text-center" *ngIf="title.invalid && title.touched">
        Lesson title must be longer than 3 characters
    </p>

    <div class="text-center" style="position: absolute; width: 100%; bottom: 0">
        <button class="add add-section card" type="button" (click)="addSection($event)"><i class="fa fa-plus" aria-hidden="true"></i> Add Section</button>
        <button [disabled]="!checkValids()" class="add card" type="button" form="lesson" (click)="submit()">Create</button>
    </div>
</div>
</form>
