<div class="course-card">
    <a [routerLink]="[_id]">
    <div class="wrapper">
        <div class="gradient-wrapper"></div>
        <p class="title">{{ title }}</p>
        <button class="resume"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
        <p class="author">By {{ author }}</p><br>
        <p class="description">{{ shortDesc }}</p>
        <p class="date">{{ date }}</p>
        <div class="star-holder">
            <i class="fa fa-star-o star" aria-hidden="true"></i>
            <i class="fa fa-star star" aria-hidden="true"></i>
            <i class="fa fa-star star" aria-hidden="true"></i>
        </div>
    </div>
    </a>
</div>
