<div class="section edit card">
    <button class="remove"><i class="fa fa-times" aria-hidden="true"></i></button>
    <input class="subtitle" placeholder="Section title*">
    <textarea placeholder="Section content*"></textarea>
    <textarea placeholder="Desired Expressions seperated with a semicolon (ex. var name;function noot() {;)" class="col-xs-12 col-md-4"></textarea>
    <textarea placeholder="Desired Console Outputs seperated with a semicolon (ex. 3;4;5)" class="col-xs-12 col-md-3 col-md-offset-1"></textarea>
    <textarea placeholder="Tasks seperated with a semicolon (ex. Define a variable named name;)" class="col-xs-12 col-md-3 col-md-offset-1"></textarea>
    <p style="color: white;padding: none; margin: none; font-size: 1px; color: white;">.</p>
</div>
