<main-hero title="{{ title }}" subtitle="{{ language }}"></main-hero>
<div class="container">
    <!-- <div class="text-center"><button class="enroll">ENROLL</button></div> -->
    <div class="text-center"><button class="edit"><a href="{{ editLink }}"><i class="fas fa fa-edit"></i>EDIT</a></button></div>
    <p class="course-description">{{ fullDesc }}</p>
    <div class="title-wrapper">
        <h4>Lessons</h4>
    </div>

    <ol class="course-lessons">
        <li class=" col-xs-12 col-md-3 col-xl-2 new"><a href="{{ newLessonLink }}"><div><p>New Lesson</p><i class="fa fa-plus" aria-hidden="true"></i></div></a></li>
        <lesson-card *ngFor="let l of lessonObjs" title="{{ l.title }}"
        course_id="{{ _course_id }}" lesson_id="{{ l._id }}" icon="{{ l.icon }}"
        class="col-xs-12 col-md-3 col-xl-2"></lesson-card>
    </ol>

    <div class="title-wrapper">
        <h4>Users</h4>
    </div>

    <div class="user-section-wrapper">
        <div class="students-wrapper col-xs-12 col-md-8">
            <user-manage-card class="col-s-12 col-md-6"> </user-manage-card>
            <user-manage-card class="col-s-12 col-md-6"> </user-manage-card>
        </div>
        <div class="admins-wrapper col-xs-12 col-md-4">
            <user-manage-card class="col-s-12 col-md-12"> </user-manage-card>
        </div>
    </div>

</div>
