<main-hero title="Courses"></main-hero>
<div class="container">
    <div class="title-wrapper">
        <h4>Available Courses</h4>
    </div>
    <div class="course-cards-wrapper">
        <course-card *ngFor="let c of courseObjs | paginate: { itemsPerPage: 6, currentPage: p }" class="col-xs-12 col-md-4 col-xl-3"
        title="{{c.title}}" author="{{c.author}}" shortDesc="{{c.shortDesc}}"
        date="{{ c.date }}" _id="{{c._id}}">
        </course-card>
    </div>
    <div class="text-center pagination-wrapper">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>
